html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #80B9E2, #D2D3CE, #EDD181, #F29B61, #EF514B);
  background-repeat: no-repeat;
}



h1,h2 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 75;
    margin: 0;
 
}
h1 {
  font-size:  3rem;
}
h2 {
  font-size: 2rem;
}
h3 { 
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 
    "wdth" 75;
    margin: 0;
    
}

h4 {  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 87.5;
  margin: 0;
}

.menu-body {
    font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.menu-button {
   font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 75;
  font-size: 1.25rem;
}


.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 28px;
}

.header > * {
  flex-grow: 1; 
}

.back-btn  {
  
    color: #ffffff; /* Text color */
    padding: 10px 0px; /* Padding */
    border-radius: 5px; /* Border radius */
    text-decoration: none; /* Remove default underline */
    transition: background-color 0.3s ease; /* Transition effect for background color */
  }

.svg-icon {
  position: relative;
  width: 20px; /* Width of the SVG */
  height: 20px; /* Height of the SVG */
  fill: #000000; /* Color of the SVG icon */
  }


  .menu-title {
    padding: 0px 10px 0px 10px;
    text-align: center;
    text-transform: uppercase;
  }

  .language-switcher {
    text-align: right;
  }

  .language-switcher > * {
    padding: 0px 0px 0px 4px;
  }


  .menu-des {
    padding: 0% 10% 10% 10%;
    text-align: center;
  }